{% extends "base.html" %}

{% block content %}
  <!-- home page   -->
  <div id="homepage" class=".bg-primary.bg-gradient">
    <div>
      <img src="assets/logo.png" class="img-thumbnail" alt="proteome logo">
    </img>
  </div>
  <h1 class="text-primary">LigandFinder</h1>
  <h3>Scientists' way to efficiency.</h3>
  <p>
    LigandFinder is Proteome’s web-based application that allows scientists to find all possible ligands that inhibits a given protein’s activity for drug discovery.
  </p>

  <div>
    <button type="button" class="btn btn-secondary btn-lg">Get Started</button>
  </div>
</div>

<!-- protein page -->
<div id="proteinpage">
  <div class="g-col-4">
    <h2>1</h2>
  </div>
  <h2>Enter protein name</h2>
  <div class="form-floating mb-3">
    <input type="search"
           class="form-control"
           id="floatingInput"
           placeholder="Search">
  </div>
</div>

<!-- scaffold page  -->
<div id="scaffoldpage">
  <h2>Choose a scaffold to explore</h2>
  <div class="compound-card-grid">
    {% for smiles in smiles_list %}
      <div class="card" style="width: 18rem;">
        <img src="{{ smileImage }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ scaffoldName }}</h5>
          <a href="#" class="btn btn-primary">Select</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- R-Numeration Page -->
<div id="reunmpage">
  <img src="assets/Animation - 1736461474899.json" alt="loading animation">
</img>
<h3>Conduting R-Enumeration.</h3>
<h3>Stand by... Something’s cooking here.</h3>
</div>

<!-- Result Page -->
<div id="resultpage">
  <h2>Results</h2>
  <div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ comboName }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Solubility: {{ solubilNum }}</li>
        <li class="list-group-item">Molecular weight: {{ molecWeightNum }}</li>
        <li class="list-group-item">Permeability: {{ permaNum }}</li>
      </ul>
    </div>
  </div>
  <!-- search another protein and scaffold, return to home -->
  <div>
    <a class="icon-link icon-link-hover" href="#">
      Search again
      <svg class="bi" aria-hidden="true">
        <use xlink:href="#arrow-right"></use>
      </svg>
    </a>
  </div>
</div>
{% endblock content %}
