{% extends "base.html" %}

{% block content %}
  <!-- home page   -->

  <div class=".bg-primary.bg-gradient">
    <div>
      <img src="assets/Proteome.png"
           class="img-thumbnail"
           alt="proteome logo"
           width="200"
           height="100">
    </img>
  </div>
  <h1 class="text-primary">Ligand Finder</h1>
  <h3>Scientists' way to efficiency.</h3>
  <p>
    LigandFinder is Proteome’s web-based application that allows scientists to find all possible ligands <br> that inhibits a given protein’s activity for drug discovery.
  </p> 

  <div>
    <button onclick="location.href='proteinpage.html'">
      Get started
  </button>
  </div>
</div>

<style>


  body {
    background-image: linear-gradient(#221324, #331E36, #332549, #332D61, #333477);
    font-family: arial;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 45px;
    color: #D1D1D1;
  }

  h3 {
    font-style: italic;
  }
  .text-primary {
    font-size: 100px;
  }
</style>
{% endblock content %}
