{% extends "base.html" %}

{% block content %}

    <!-- protein page -->
    <div>
        <p>1 → Enter protein name</p>
        <div class="form-floating mb-3">
            <input type="search"
                   class="form-control"
                   id="floatingInput"
                   placeholder="Search">
            <label for="floatingInput">Search</label>
        </div>
    </div>
    <p>1 → Enter protein name</p>
    <form id="searchForm" action="new_page.html" method="GET">
        <input type="text" id="searchInput" name="query" placeholder="Enter search query">
        <button type="submit">Search</button>
    </form>

    <script>
        // Optional: If you want to redirect upon pressing "Enter"
        document.getElementById('searchInput').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                let query = document.getElementById('searchInput').value;
                window.location.href = 'new_page.html?query=' + encodeURIComponent(query);
            }
        });

    <style>

  body {
    background-color: #27172A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 45px;
    color: #D1D1D1;
  }

  .text-primary {
    font-size: 100px;
  }

  p {
    font-size: 50px;
  }

    </style>

{% endblock content %}
