{% extends "base.html" %}

{% block content %}

<!-- Result Page -->
<div>
  <h2>3 → Results</h2>
  <div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ comboName }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Solubility: {{ solubilNum }}</li>
        <li class="list-group-item">Molecular weight: {{ molecWeightNum }}</li>
        <li class="list-group-item">Permeability: {{ permaNum }}</li>
      </ul>
    </div>
  </div>
  <!-- search another protein and scaffold, return to home -->
  <div>
    <a class="icon-link icon-link-hover" href="#">
      Search again
      <svg class="bi" aria-hidden="true">
        <use xlink:href="#arrow-right"></use>
      </svg>
    </a>
  </div>
</div>

<style>


  body {
    background-image: linear-gradient(#221324, #331E36, #332549, #332D61, #333477);
    font-family: arial;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 45px;
    color: #D1D1D1;
  }

  .text-primary {
    font-size: 100px;
  }
</style>
{% endblock content %}
