{% extends "base.html" %}

{% block content %}


<!-- R-Numeration Page -->
<div>
  <img src="assets/Animation - 1736461474899.json" alt="loading animation">
</img>
<h3>Conduting R-Enumeration.</h3>
<h3>Stand by... Something’s cooking here.</h3>
</div>


<style>


  body {
    background-image: linear-gradient(#221324, #331E36, #332549, #332D61, #333477);
    font-family: arial;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 45px;
    color: #D1D1D1;
  }

  .text-primary {
    font-size: 100px;
  }
</style>
{% endblock content %}
